html{
    background: -webkit-linear-gradient(90deg, #2e021b,#640a1e,#8d3302);/* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(90deg, #2e021b,#640a1e,#8d3302);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                             
    color: white;   
    font-family: calibri;
    font-weight: bold;
}


body{
    display: flex;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.location{
    width: 35px;
    height: 35px;
}

.title{
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 1.5rem;
    justify-content: center;
}

input,button,::placeholder{
    color: white;
    font-family: calibri;
    font-size: 1.5rem;
    border: none;
    transition: 0.23s all ease-in;
    margin-top: 20px;
}

input{
    padding: 3px;
    font-weight: bold;
    text-align: center;
}

button{
    background-color: rgba(209, 202, 202, 0.476);
    padding: 3px 10px;
}


button:hover{
    opacity: 0.9;
    cursor: pointer;
}


input:focus{
    outline: none;
}


#name{
    background-color: rgba(209, 202, 202, 0.476);
}

.container,.results{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin: 0;
}

.temp{
    font-size: 4rem;
    margin: 0;
}


.situation{
    font-size: 1.6rem;
    margin-top: 50px;
}

.add-inf p{
    font-size: 1.5rem;
}

img{
}

.error{
    font-size: 1.5rem;
}

span{
    font-size: 2rem;
    font-weight: lighter;
}

.error{
    display: none;
}